main{
    min-height:100vh;
    background-color: #3e187a !important;
    background-image: linear-gradient(316deg, #3e187a 0%, #994ecc 74%);

}
footer{
    background-color: #3e187a !important;
    background-image: linear-gradient(316deg, #3e187a 0%, #994ecc 74%) !important;

}