main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.scrollDisabled{
    overflow-y:hidden;
}
.intro{
    padding-top:12vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-image: url('../img/main.png');
    background-size: 100% auto;
    color:rgba(255,255,255,0.8);
    padding-bottom:12vw;
}
.intro > h1{
    text-shadow: #FC0 1px 0 10px;
    font-size: 3vw;
}
.slogan{
    max-width:50vw;
    text-align: center;
    margin-top: 2vw;
    font-size: 2vw;
    text-shadow: #FC0 1px 0 10px;
}
.login{
    margin-top: 2vw;
    padding:0.5vw 2vw;
    border-radius: 2vw;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(2vw);
    font-size: 2vw;
    color:rgba(255,255,255,0.8);
    text-decoration: none;
}

/* GOAL */
.goal{
    padding:2vw 2vw 7vw 2vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color:rgba(255,255,255,0.8);
    width: 100%;
    background: linear-gradient(to right, #c471f5 0%, #fa71cd 100%);
    border-top-left-radius: 2vw;
    border-top-right-radius:2vw;
    margin-top: -2vw; 
}
.goalHeading{
    font-size: 3vw;
}
.student{
    margin-top: 3vw;
    width: 70vw;
    border-radius: 2vw;
    opacity:0.9;
}
.goal > h3{
    margin-top: 3vw;
    font-size: 2.6vw;
}
.goal > ul{
    list-style:none;
}
.goal > ul > li{
    position: relative;
    margin-top: 1vw;
    font-size: 2vw;
}
.goal > ul > li::before{
    content:'';
    position: absolute;
    top:50%;
    margin-top: -0.3vw;
    left: -1vw;
    width: 0.6vw;
    height: 0.6vw;
    background-color: purple;
    border-radius: 50%;
}

/* ABOUT UNIVERSITY */
.entryBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-image: url('../img/main.png');
    background-size: 100% auto;
    border-top-left-radius: 2vw;
    border-top-right-radius:2vw;
    margin-top: -3vw;
    color:rgba(255,255,255,0.8);
    padding:2vw 2vw 7vw 2vw;
}
.videoReview.closed{
    display: none;
}
.videoReview{
    cursor: pointer;
    z-index: 3;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoReview iframe{
    width: 70vw;
    height: 40vw;
}
.entryBlock > h2{
    text-shadow: #FC0 1px 0 10px;
    font-size: 3vw;
}
.entryBlock > p{
    margin-top: 3vw;
    max-width: 60vw;
    text-align: center;
    font-size: 2.5vw;
    text-shadow: #FC0 1px 0 10px;
}
.entryContent{
    width: 90vw;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter:blur(2vw);
    padding:2vw 3vw;
    border-radius: 2vw;
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.nosqlPicture{
    border-radius: 2vw;
    opacity: 0.7;
    width: 50%;
}
.rightSide{
    width: 50%;
    margin-left: 1vw;
}
.entryDescription{
    font-size: 2vw;
}
.watchReview{
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(2vw);
    padding:0.5vw 4vw;
    border-radius: 2vw;
    font-size: 2.5vw;
    margin-top: 2vw;
}

/* COURSES */
.courses{
    padding:2vw 2vw 7vw 2vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color:rgba(255,255,255,0.8);
    width: 100%;
    background: linear-gradient(to right, #c471f5 0%, #fa71cd 100%);
    border-top-left-radius: 2vw;
    border-top-right-radius:2vw;
    margin-top: -2vw; 
}
.courses > h2{
    font-size: 3vw;
}
 .coursesContainer{
    margin-top: 2vw;
    display: grid;
    gap:1vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
}

.watchCourse{
    margin-top: auto;
    width: 100%;
    border-radius: 2vw;
    background-color: rgba(255,255,255,0.3);
    color: white;
    font-size: 2vw;
    text-decoration: none;
    text-align: center;

}
.courseHeading{
    font-size: 2vw;
    text-align: center;
}
.courseDescription{
    text-align: center;
    font-size: 1.2vw;
    margin-bottom: 2vw;
} 
:root{
    --cardContainerWidth:27vw;
    --cardContainerHeight:calc(var(--cardContainerWidth)*1.9);
    --cardContentPseudoSize:calc(var(--cardContainerWidth)*0.18);
    --cardContentPseudoVerticalPosition:calc((var(--cardContainerHeight) - var(--cardContainerHeight)*0.6)/2);
}
.cards{
    padding:2vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cardContainerWidth);
    height: var(--cardContainerHeight);
}
.cardContent{
    width: 100%;
    height: calc(var(--cardContainerHeight)*0.6);
    padding:2vw 2vw;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter:blur(2em);
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 2vw;
    z-index: 2;
    align-items: center;
}
.cardContent::before, .cardContent::after{
    content:'';
    position: absolute;
    width:var(--cardContentPseudoSize);
    height:var(--cardContentPseudoSize);
    background-color: rgba(255,255,255,0.3);
    backdrop-filter:blur(2em);
    animation-name:animateBlock;
    animation-iteration-count:infinite;
    animation-duration:5s;
    animation-timing-function:ease-in-out;
    border-radius: 10%;
    animation-play-state: paused;
    opacity:0;
    transition:opacity 0.5s ease-in-out;
}
.cardContent::before{
    top:calc(var(--cardContentPseudoVerticalPosition)*(-1));
    left:0;
    animation-direction: alternate;
}
.cardContent::after{
    bottom:calc(var(--cardContentPseudoVerticalPosition)*(-1));
    left:22vw;
    animation-direction: alternate-reverse;
}
.cardContent:hover + .cardBg{
    transform:skew(0);
}
.cardContent:hover::after, .cardContent:hover::before{
    animation-play-state: running;
    opacity:1;
}
.cardHeading{
    color:white;
    font-size: 3vw;
    text-align: center;
}
.cardText{
    font-size: 1.3vw;
    color:white;
    margin-top: 1vw;
}
.cardLink{
    margin-top:auto;
    padding:1vw 3vw;
    text-decoration: none;
    background-color: #fff;
    color: black;
    font-size: 1.2vw;
    border-radius: 2vw;
}
.cardBg{
    width: 50%;
    height: 100%;
    position: absolute;
    z-index:0;
    top:0;
    left:25%;
    transform:skewX(8deg);
    transition:all 0.5s ease-in-out;
    background:linear-gradient(#662D8C , #ED1E79);
    border-radius: 1vw;
}
@keyframes animateBlock{
    from{
        left:0;      
    }
    to{
        left:22vw;
    }
}
/* REVIEW */
.review{
    width: 100%;
    padding:8vw 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-image: url('../img/main.png');
    background-size: cover;
    border-top-left-radius: 2vw;
    border-top-right-radius:2vw;
    margin-top: -3vw;
    color:rgba(255,255,255,0.8);
    padding:2vw 2vw 7vw 2vw;
}
.review > h2{
    text-shadow: #FC0 1px 0 10px;
    font-size: 3vw;
}
.review > p{
    width: 50%;
    margin-top: 3vw;
    text-align: center;
    text-shadow: #FC0 1px 0 10px;
    font-size: 2vw;
}
.reviewLink{
    padding:0.5vw 2vw;
    border-radius: 2vw;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(2vw);
    text-decoration: none;
    color: white;
    margin-top: 3vw;
    font-size: 2vw;
}
@media screen and (max-width:768px){
    .intro{
        padding-top:16vw;
        padding-bottom:12vw;
        background-size: cover;
    }
    .intro > h1{
        font-size: 7vw;
    }
    .slogan{
        max-width:80vw;
        margin-top: 2vw;
        font-size: 5vw;
    }
    .login{
        white-space:nowrap;
        padding:1.5vw 4vw;
        border-radius: 4vw;
        font-size: 4.5vw;
    }
    
    /* GOAL */
    .goal{
        padding:4vw 4vw 14vw 4vw;
        border-top-left-radius: 3vw;
        border-top-right-radius:3vw;
        margin-top: -3vw; 
        align-items: center;
    }
    .goalHeading{
        font-size: 7vw;
        text-align: center;
    }
    .student{
        margin-top: 3vw;
        width: 90vw;
    }
    .goal > h3{
        margin-top: 3vw;
        font-size: 6vw;
    }
    .goal > ul > li{
        margin-left: 7vw;
        margin-top: 2vw;
        font-size: 5vw;
    }
    .goal > ul > li::before{
        margin-top: -2vw;
        left: -6vw;
        width: 4vw;
        height: 4vw;
    }
    
    /* ABOUT UNIVERSITY */
    .entryBlock{
        border-top-left-radius: 3vw;
        border-top-right-radius:3vw;
        padding:4vw 2vw 10vw 2vw;
        background-size: cover;
    }
    .videoReview iframe{
        width: 90vw;
        height: 50vw;
    }
    .entryBlock > h2{
        font-size: 7vw;
    }
    .entryContent{
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .nosqlPicture{
        width: 100%;
    }
    .rightSide{
        width: 100%;
        margin-top: 3vw;
        margin-left: 0vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .entryDescription{
        font-size: 4vw;
    }
    .watchReview{
        padding:1vw 4vw;
        border-radius: 3vw;
        font-size: 4.5vw;
        margin-top: 3vw;
    }
    
    /* COURSES */
    .courses{
        padding:4vw 2vw 7vw 2vw;
        border-top-left-radius: 3vw;
        border-top-right-radius:3vw;
        margin-top: -3vw; 
    }
    .courses > h2{
        font-size: 7vw;
    }
    .coursesContainer{
        margin-top: 3vw;
        gap:5vw;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
    }
    :root{
        --cardContainerWidth:90vw;
    }
    
    .courseHeading{
        font-size: 6vw;
    }
    .courseDescription{
        margin-top: 2vw;
        font-size: 4.5vw;
        padding:0 1vw;
    } 
    .watchCourse{
        border-radius: 3vw;
        padding:1vw 0;
        font-size: 6vw;
    }
    .cardContent::after, .cardContent::before{
        animation-name:animateBlockMobile;
        animation-play-state: running;
        opacity:1;
    }
    .cards{
        padding:2vw 2vw;
    }
    @keyframes animateBlockMobile{
        from{
            left:0;      
        }
        to{
            left:74.8vw;
        }
    }
    /* REVIEW */
    .review{
        padding:12vw 0;
        border-top-left-radius: 3vw;
        border-top-right-radius:3vw;
        margin-top: -3vw;
        padding:4vw 2vw 10vw 2vw;
    }
    .review > h2{
        font-size: 8vw;
    }
    .review > p{
        width: 80%;
        margin-top: 3vw;
        font-size: 5vw;
    }
    .reviewLink{
        padding:1.5vw 4vw;
        border-radius: 5vw;
        margin-top: 5vw;
        white-space: nowrap;
        font-size: 6vw;
    }
}