main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding:7vw 5vw 10vw 5vw;
    min-height: 100vh;
    background-color: #3e187a;
    background-image: linear-gradient(316deg, #3e187a 0%, #994ecc 74%);
}
h2{
    color:white;
    font-size: 3vw;
}
.reviewForm{
    margin-top: 3vw;
    padding:2vw;
    border-radius: 2vw;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(2vw);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
label:first-child{
    margin-top: 0;
}
label{
    width: 100%;
    margin-top: 3vw;
    color: white;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
input{
    background-color: transparent;
    font-size: 1.5vw;
    outline:none;
    border:1px solid white;
    border-radius: 1vw;
    padding:0.5vw 0.5vw;
    color: white;
}
input::placeholder{
    color: rgba(255,255,255,0.7);
}
textarea{
    font-size: 1.8vw;
    color:white;
    background: transparent;
    border:1px solid white;
    border-radius: 2vw;
    padding:2vw;    
    margin-top: 1vw;
    width: 100%;
}
textarea:focus{
    outline:none;
}
textArea::placeholder{
    font-size: 1.8vw;
    color:rgba(255,255,255,0.5);
}
.reviewForm > button{
    padding:0.5vw 2vw;
    border-radius: 2vw;
    border:1px solid white;
    color:white;
    font-size: 1.8vw;
    margin-top: 2vw;
    transition: all 0.5s ease;
}
button:hover{
    background-color: #fff;
    color: #3e187a;
}
@media screen and (max-width:768px){
    main{
        padding:20vw 5vw 15vw 5vw;
        min-height: auto;
    }
    h2{
        text-align: center;
        font-size: 7vw;
    }
    .reviewForm{
        margin-top: 4vw;
        padding:3vw;
        border-radius: 5vw;
    }
    label{
        font-size: 5vw;
    }
    input{
        font-size: 4vw;
        margin-top: 2vw;
        border-radius: 3vw;
        padding:1.5vw 1.5vw;
    }
    textarea{
        font-size: 4vw;
        border-radius: 3vw;
        padding:3vw;    
        margin-top: 4vw;
    }
    textArea::placeholder{
        font-size: 4vw;
    }
    .reviewForm > button{
        width: 100%;
        padding:1vw 3vw;
        border-radius: 3vw;
        font-size: 5vw;
        margin-top: 4vw;
        background-color: #fff;
        color: #3e187a;
    }
}